data/densepose/Base-DensePose-RCNN-FPN.yaml
data/densepose/densepose_rcnn_R_50_FPN_s1x.yaml
data/densepose/densepose_rcnn_R_50_FPN_WC1M_s1x.yaml
data/torchreid/model.pth.tar-60
data/videos/camera_0.mov
data/videos/camera_1.mov
data/videos/camera_2.mov
data/videos/old/main.MOV
data/videos/old/tl.mp4
data/videos/old/tr.MOV
