[submodule "lama"]
	path = lama
	url = https://github.com/BrasD99/lama.git
[submodule "PARE"]
	path = PARE
	url = https://github.com/BrasD99/PARE.git
[submodule "OvoxadorVR"]
	path = OvoxadorVR
	url = https://github.com/BrasD99/OvoxadorVR.git